<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
    <%= button_to "Destroy Comment", [comment.post, comment], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
  </p>
  <br>
<% end %>

<% @post.comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user&.email || 'Аноним' %></strong></p>
    <p><%= comment.body %></p>
    <% if comment.user == current_user %>
      <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete %>
    <% end %>
  </div>
<% end %>